/* estilo de body*/
body{
    background-color: antiquewhite;
    font-size: 16;
    font-family: sans-serif;
}
p{
    background-color:bisque;
    text-align: justify;
}
table,th,tr,td{
    border:solid 1px;
}
table{
    background-color:rgb(250, 238, 184);
    
}

th{
    background-color:  rgb(235, 221, 202);
}
ol{
    background-color: rgb(212, 196, 177);
}
ul{
    background-color: rgb(212, 196, 177);
    max-width: 50%;
}
/*estilo de componentes*/
textarea{
    color:rgb(170, 68, 50);
    font-weight: bolder;  
}
.NavheaderBar_1{
    max-width: 95%;
    background-color: rgb(225, 203, 34);
    max-height: 10%;
    margin: -6px auto; 
}
.NavComponentesCenter{
    
    display:flex
}
.captionTable{
    border: 1px solid; 
    font-weight: bolder;
    background-color: rgb(245, 232, 119);
}