/* estilo de body*/
body{
    background-color:#fadab0;
    font-size: 16;
    font-family: sans-serif;
}
p{
    background-color:#fad534;
    text-align: justify;
    width: 99%;
    
    margin: 0px auto;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
}
table,th,tr,td{
    border:solid 1px;
}
table{
    background-color:rgb(250, 238, 184);
    
}

th{
    background-color:  #fab152;
}
ol{
    background-color: #fa9452;
}
ul{
    background-color: #fac652;
    
}
/*estilo de componentes*/
textarea{
    color:#fa3600;
    font-weight: bolder;  
}

.mainHeader{
    background-color: burlywood;;
}
.NavComponentesCenter{
    
    display:flex
}
.captionTable{
    border: 1px solid; 
    font-weight: bolder;
    background-color: rgb(245, 232, 119);
}