body{
    background-color: antiquewhite;
    font-size: 16;
    font-family: sans-serif;
}
p{
    background-color:bisque;
    text-align: justify;
}
table,th,tr,td{
    border:solid 1px;
}
table{
    background-color:rgb(251, 224, 188);
    
}

th{
    background-color:  rgb(235, 221, 202);
}
ol{
    background-color: rgb(212, 196, 177);
}
ul{
    background-color: rgb(212, 196, 177);
}
textarea{
    color:red;
    font-weight: bolder;
    
    
}